{{ define "main" }}

	<aside id="trigger-to-top"></aside>

	<a id="js-to-top" class="fixed right-6 sm:right-10 bottom-6 sm:bottom-10 flex justify-center items-center w-10 h-10 bg-gray-300 rounded-lg transition-opacity" href="#">
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path d="M12 8l6 6H6z" fill="rgba(255,255,255,1)"/></svg>
	</a>

	<article class="single-article">

		{{/*  cover  */}}
		{{ partial "cover.html" . }}

		{{/*  title  */}}
		<h1>{{ .Title }}</h1>

		{{/*  date  */}}
		<p class="text-sm">{{ .Date.Format "2006-01-02 15:04" }}</p>

		<hr>

		{{/*  TOC  */}}
		<div class="single-toc">
			<h2>TOC</h2>
			{{ .TableOfContents }}
		</div>

		<hr>

		{{/*  content  */}}
		{{ .Content }}

		<hr>

		{{/*  categories  */}}
		<h4>Category：
			{{ range .Params.categories }}
				<a class="capitalize" href="/categories/{{ . }}">{{ . }}</a>
			{{ end }}
		</h4>

		{{/*  tags  */}}
		<h4>Tags</h4>
		{{ range (.GetTerms "tags") }}
			<a class="tag" href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
		{{ end }}

		{{/*  Prev / Next  */}}
		<div class="flex flex-wrap justify-between">
			{{ with .PrevInSection }}
				<div class="sm:flex-1 pr-2 w-full sm:w-1/2">
					<h4 class="!mb-0">Prev</h4>
					<a href="{{ .RelPermalink }}">{{ .Title }}</a>
				</div>
			{{ end }}
			{{ with .NextInSection }}
				<div class="sm:flex-1 pl-2 w-full sm:w-1/2 text-right">
					<h4 class="!mb-0">Next</h4>
					<a href="{{ .RelPermalink }}">{{ .Title }}</a>
				</div>
			{{ end }}
		</div>

		<hr>

		{{/*  相關文章  */}}
		{{ $related := .Site.RegularPages.Related . | first 5 }}
		{{ with $related }}
			<div class="mb-8">
				<h4 class="!mb-0">Related</h4>
				<ul>
					{{ range . }}
						<li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
					{{ end }}
				</ul>
			</div>
		{{ end }}

	</article>

{{ end }}